<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IQCWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.167/IQCInterface/IQCWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="IQCWebServiceSoap"
        contract="IQCWebService.IQCWebServiceSoap" name="IQCWebServiceSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Test.Properties.Settings>
      <setting name="Test_localhost_JXWebService" serializeAs="String">
        <value>http://localhost:4765/WebService.asmx</value>
      </setting>
    </Test.Properties.Settings>
  </applicationSettings>
</configuration>
