<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBService" value="192.168.0.13"/>
    <add key="SqlUser" value="sa"/>
    <add key="SqlPassword" value="w#3j* 7b"/>
    <add key="Accid" value="999"/>
    <add key="Year" value="2013"/>
    <add key="sYear" value="2015"/>
    <add key="UserID" value="demo1"/>
    <add key="Password" value="demo2015"/>
    <add key="Server" value="xjerp"/>
    <!--<add key="dbservice" value="192.168.0.13"/>
    <add key="sqluser" value="sa"/>
    <add key="sqlpassword" value="w#3j* 7b"/>
    <add key="accid" value="001"/>
    <add key="year" value="2013"/>
    <add key="syear" value="2015"/>
    <add key="userid" value="demo1"/>
    <add key="password" value="demo2015"/>
    <add key="server" value="xjerp"/>-->
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="1048576" executionTimeout="36000"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <connectionStrings>
    <add name="Conn" connectionString="Data Source=.;connection timeout=0;Initial Catalog=Barcode;UID=sa;Pwd=2008"/>
    <add name="logflag" connectionString="true"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding closeTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="false">
          <readerQuotas maxDepth="128" maxStringContentLength="8388608" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ManagementServiceBehaviour">
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>